
body {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
main {
  padding: 20px;
  text-align: center;
}
section {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}
img {
  width: 100%;
  border-radius: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #333;
  color: white;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-top: 20px;
}
#about{
  background: #b0a8b9;
  background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
#home{
  background: #4d8076;
  background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
