* {
  margin: 0;
  padding: 0;
}
.parent {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}
.flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid rgb(241, 105, 105);
  max-width: 700px;
}
.item{
    height: 100px;
    width: 100px;
    background-color: black;
    flex: 1 1 150px;
}