* {
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

div {
  padding: 8px;
  border: 1px solid rgb(16, 16, 81);
}

.flex-1 {
  flex: 1;
}
.flex-3 {
  flex: 3;
}
