* {
  margin: 0;
  overflow: hidden;
}

body {
  height: 200vh;
}
video {
  width: 100%;
  opacity: 0.4;
}
.container {
  position: relative;
}
/* .div-1 {
  height: 60px;
  background-color: blue;
  position: absolute;
}
.div-2 {
  height: 60px;
  background-color: red;
  position: absolute;
} */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.content2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
