<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    <h1>Seconds: <%= seconds %></h1>
    
    <% if (seconds % 2 !== 0) { %>
        <ul>
            <% items.forEach(item => { %>
                <li><%= item %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No items</p>
    <% } %>

        <%- htmlContent %> 
   
</body>
</html>